# If you change any of the requirements here please don't forget to change them in setup.py too
pygame>=1.9.6
opencv-python
psutil
numpy
# gym is no longer supported
# gym<=0.21.0
gymnasium
absl-py
wheel
six # only needed for compatibility with python 2 apparently
